<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 CLEARgo. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Model\View\Design">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="adminhtml" xsi:type="string">Cleargo/plc</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Sales\Model\Order\Pdf\Creditmemo" type="Cleargo\AdminTheme\Model\Order\Pdf\Creditmemo"/>
    <preference for="Magento\Sales\Model\Order\Pdf\Invoice" type="Cleargo\AdminTheme\Model\Order\Pdf\Invoice"/>
    <preference for="Magento\Sales\Model\Order\Pdf\Shipment" type="Cleargo\AdminTheme\Model\Order\Pdf\Shipment"/>
    <preference for="Magento\Rma\Model\Pdf\Rma" type="Cleargo\AdminTheme\Model\Order\Pdf\Rma"/>
</config>