<!--@subject Question You Have Asked In PLC @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$data.name}}</p>
<p>{{trans "Thank you for asking question to us."}}</p>
<p>{{trans "Attached please kindly find a copy of your inquiry."}}</p>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table  border="0" width="100%" cellspacing="0" cellpadding="10" align="center">
                <tr>
                    <td align="left" style="font-size: 20px; color:cornflowerblue;">
                        {{trans "Inquiry Information"}}
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        {{trans "Name"}}
                    </td>
                    <td align="left">
                        {{var data.name}}
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        {{trans "Email"}}
                    </td>
                    <td align="left">
                        {{var data.email}}
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        {{trans "Type"}}
                    </td>
                    <td align="left">
                        {{var data.youare}}
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        {{trans "Enquiry"}}
                    </td>
                    <td align="left">
                        {{var data.enquiry}}
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        {{trans "Phone Number"}}
                    </td>
                    <td align="left">
                        {{var data.telephone}}
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        {{trans "Comment"}}
                    </td>
                    <td align="left">
                        {{var data.comment}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p>{{trans "Should you have any enquiries, please call our customer service hotline at <a href='tel:%store_phone'>%store_phone</a> for assistance." store_phone=$store_phone |raw}}</p>
<p>{{trans "Yours faithfully,"}}</p>
<p>{{trans "The PLC Group"}}</p>

{{template config_path="design/email/footer_template"}}