<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Newsletter subscription success"}} @-->
<!--@vars {
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->


{{template config_path="design/email/header_template"}}

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <h2 style="font-size:30px;color:#c3161c;letter-spacing:0px;text-align:center;font-style:italic;">{{trans "WE'RE SO"}}<br/>{{trans "THRILLED TO HAVE YOU!"}}</h2>
        </td>
    </tr>
    <tr>
        <td align="center">
            <p style="
                font-size:12px;
                color:#606060;
                letter-spacing:0px;
                line-height:22px;
                text-align:center;
                font-style:italic;
                ">
                {{trans "Welcome to the PLC family!"}}<br />
                {{trans "Thank you for subscribing to our newsletter. We can now share with you updates on the latest news, new arrivals, and exclusive deals."}}<br />
                <br />
                {{trans "At PLC we take first impressions seriously, so new members get a treat!"}}<br />
                {{trans "To help you get started with your online shopping experiencehere's"}}<br />
                {{trans "a "}}<span style="color:#c3161c; font-size:14px; font-weight:bold">$100</span>{{trans " gift coupon*."}}<br />
                <br />
                {{trans "Simply "}}<a href='{{store url=""}}'>{{trans "click here"}}</a>{{trans " to start shopping and enter this code:"}} <span style="color:#c3161c; font-size:14px; font-weight:bold">PLC100CASH</span>{{trans " when you checkout."}}
            </p><br /><br />
            <p style="
                font-size:14px;
                color:#606060;
                letter-spacing:0px;
                line-height:22px;
                text-align:center;
                font-style:italic;
                ">{{trans "Happy shopping!"}}
            </p><br />
        </td>
    </tr>
    <tr>
        <td>

            <p align="center" style="margin-bottom:30px;"><img src="{{view url='Magento_Email/gift-voucher.png'}}" style="vertical-align: middle;
    padding: 0 12px; " /></p>
            <table  border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        <a  style="color: #ffffff;
                                    background: #c3161c;
                                    text-transform: uppercase;
                                    text-decoration: none;
                                    font-weight:bold;
                                    border: 1px solid #c3161c;
                                    display: inline-block;
                                    font-size: 12px;
                                    padding: 10px 50px;"
                            href='{{store url=""}}' target="_blank">{{trans "SHOP NOW"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table><br /><br />
<p style="font-size:10px;color:#7f7f7f;line-height:12px;font-style:normal;margin:0 -20px;">
    *{{trans "Gift voucher valid for 1 week only"}} | 
    {{trans "For one-time use only"}} |
    {{trans "Applicable to purchases above HK$500"}} |
    {{trans "Applicable on discounted items"}} |
    {{trans "Not valid on non-sale brands"}} |
    {{trans "Voucher amount will be shared between all regular priced items and discounted items; 
    discount proportion is based on the value of the items."}} |
    {{trans "Redeemed by logging in to account, discount code to be inserted at checkout."}}
    {{trans "For any questions, contact our Customer Service Team at: 2765 9667 or plc@plc.com.hk"}}
</p>

{{template config_path="design/email/footer_template"}}
