//
//  Cleargo, K11 theme Fonts
//      - Aileron                 font-name:aileron
//      - Aileron Italic`         font-name:aileron-italic
//      - Aileron Thin Italic     font-name:aileron-thinitalic
//      - Aileron Bold            font-name:aileron-bold
//      - Aileron Bold Italic     font-name:aileron-bolditalic
//      - Aileron Black           font-name:aileron-black
//  _____________________________________________

@font-face {
    font-family:'aileron';
    src:url('@{baseDir}fonts/aileron-regular.eot');
    src:url('@{baseDir}fonts/aileron-regular.eot?#iefix') format('embedded-opentype'),
        url('@{baseDir}fonts/aileron-regular.woff2') format('woff2'),
        url('@{baseDir}fonts/aileron-regular.woff') format('woff'),
        url('@{baseDir}fonts/aileron-regular.ttf') format('truetype'),
        url('@{baseDir}fonts/aileron-regular.svg#aileronregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
  font-family:'aileron-italic';
  src:url('@{baseDir}fonts/aileron-italic.eot');
  src:url('@{baseDir}fonts/aileron-italic.eot?#iefix') format('embedded-opentype'),
      url('@{baseDir}fonts/aileron-italic.woff2') format('woff2'),
      url('@{baseDir}fonts/aileron-italic.woff') format('woff'),
      url('@{baseDir}fonts/aileron-italic.ttf') format('truetype'),
      url('@{baseDir}fonts/aileron-italic.svg#aileronitalic') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'aileron-thinitalic';
  src:url('@{baseDir}fonts/aileron-thinitalic.eot');
  src:url('@{baseDir}fonts/aileron-thinitalic.eot?#iefix') format('embedded-opentype'),
      url('@{baseDir}fonts/aileron-thinitalic.woff2') format('woff2'),
      url('@{baseDir}fonts/aileron-thinitalic.woff') format('woff'),
      url('@{baseDir}fonts/aileron-thinitalic.ttf') format('truetype'),
      url('@{baseDir}fonts/aileron-thinitalic.svg#aileronthinitalic') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'aileron-bold';
  src:url('@{baseDir}fonts/aileron-bold.eot');
  src:url('@{baseDir}fonts/aileron-bold.eot?#iefix') format('embedded-opentype'),
      url('@{baseDir}fonts/aileron-bold.woff2') format('woff2'),
      url('@{baseDir}fonts/aileron-bold.woff') format('woff'),
      url('@{baseDir}fonts/aileron-bold.ttf') format('truetype'),
      url('@{baseDir}fonts/aileron-bold.svg#aileronbold') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'aileron-bolditalic';
  src:url('@{baseDir}fonts/aileron-bolditalic.eot');
  src:url('@{baseDir}fonts/aileron-bolditalic.eot?#iefix') format('embedded-opentype'),
      url('@{baseDir}fonts/aileron-bolditalic.woff2') format('woff2'),
      url('@{baseDir}fonts/aileron-bolditalic.woff') format('woff'),
      url('@{baseDir}fonts/aileron-bolditalic.ttf') format('truetype'),
      url('@{baseDir}fonts/aileron-bolditalic.svg#aileronbolditalic') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'aileron-black';
  src:url('@{baseDir}fonts/aileron-black.eot');
  src:url('@{baseDir}fonts/aileron-black.eot?#iefix') format('embedded-opentype'),
      url('@{baseDir}fonts/aileron-black.woff2') format('woff2'),
      url('@{baseDir}fonts/aileron-black.woff') format('woff'),
      url('@{baseDir}fonts/aileron-black.ttf') format('truetype'),
      url('@{baseDir}fonts/aileron-black.svg#aileronblack') format('svg');
  font-weight:normal;
  font-style:normal;
}