<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!--<resource id="Magento_Backend::content">-->

                    <resource id="Cleargo_Showroom::add_row" title="Showroom Manager"  sortOrder="10">
                        <resource id="Cleargo_Showroom::grid_save" title="Save Grid Manager" sortOrder="10" />
                        <resource id="Cleargo_Showroom::grid_delete" title="Delete Grid Manager" sortOrder="20" />
                    </resource>

                <!--</resource>-->
            </resource>
        </resources>
    </acl>
</config>