<?xml version="1.0"?>
<!--
/**
 * Webkul_Grid Menu
 *
 * @category    Webkul
 * @package     Webkul_Grid
 * @author      Webkul Software Private Limited
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Cleargo_Showroom::add_row" title="Showroom Manager" module="Cleargo_Showroom" sortOrder="20" parent="Cleargo_Contactus::manager" action="showroom/grid" resource="Cleargo_Showroom::add_row"/>
    </menu>
</config>