<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 CLEARgo. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Cleargo\Asiapay\Model\Logger\Handler\Asiapay">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Cleargo\Asiapay\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">asiapay</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="asiapay" xsi:type="object">Cleargo\Asiapay\Model\Logger\Handler\Asiapay</item>
            </argument>
        </arguments>
    </type>
    <type name="Cleargo\Asiapay\Model\Method\Adapter">
        <arguments>
            <argument name="config" xsi:type="object">AsiapayConfig</argument>
        </arguments>
    </type>
    <virtualType name="AsiapayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">cleargo_asiapay</argument>
        </arguments>
    </virtualType>
    <virtualType name="AsiapayDefaultValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">AsiapayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="AsiapayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AsiapayDefaultValueHandler</item>
                <item name="can_initialize" xsi:type="string">Cleargo\Asiapay\Gateway\Config\CanInitializeHandler</item>
                <item name="can_use_internal" xsi:type="string">Cleargo\Asiapay\Gateway\Config\CanUseInternalHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Cleargo\Asiapay\Gateway\Config\CanInitializeHandler">
        <arguments>
            <argument name="config" xsi:type="object">AsiapayConfig</argument>
        </arguments>
    </type>
    <type name="Cleargo\Asiapay\Gateway\Config\CanUseInternalHandler">
        <arguments>
            <argument name="config" xsi:type="object">AsiapayConfig</argument>
        </arguments>
    </type>
    <virtualType name="AsiapayStandardFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">cleargo_asiapay</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">AsiapayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">AsiapayCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="AsiapayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">Cleargo\Asiapay\Gateway\Command\InitializeCommand</item>
                <item name="authorize" xsi:type="string">Cleargo\Asiapay\Gateway\Command\AuthorizeCommand</item>
                <item name="capture" xsi:type="string">Cleargo\Asiapay\Gateway\Command\CaptureCommand</item>
            </argument>
        </arguments>
    </virtualType>
</config>
