<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 CLEARgo. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="lock" frontName="lock">
            <module name="Cleargo_FindYourLock" before="Magento_Backend" />
        </route>
    </router>
</config>
