ul {
    list-style: none none;
    margin: 0;
    padding: 0;
}

select {
    width: auto;
    border-radius: 100px;
}

.dealer-list-container {
    padding: 20px 0;
}

.region-list h3 {
    border-bottom: 1px solid #E5E5E5;
}

.dealer-item > div {
    float: left;
}

.dealer-item:after {
    content: "";
    clear: both;
    display: table;
}

.dealer-name {
    width: 35%;
    padding-right: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.dealer-address {
    width: 50%;
    padding-right: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.red-line-container .red-line .dealer-filter .brand-filter{
    cursor: pointer;
}
.red-line-container .red-line .dealer-filter .brand-filter.active .filter-label{
    cursor: pointer;
    box-shadow: 0px -1px 7px black;
    color:#c3161c;
    background-color: white;

}
.dealer-tel {
    width: 15%;
    text-align: right;
}
.country-name{

    padding: 20px 0;
}
.checkboxes-container{
    display: none;
}
.checkboxes-container .checkboxes{
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    max-width: 960px;
    padding: 50px 10px;
    background-color: rgba(251, 251, 251, 0.65);
    box-shadow: 1px 2px 10px #888888;
}

@media (min-width: 768px) {

    .dealer-network-index #maincontent{
        max-width: 100%;
        padding-left:0 ;
        padding-right:0 ;
    }
    .dealer-network-index #maincontent .page-title-wrapper{
        max-width: 960px;
        margin: 0 auto;
    }
    .dealer-network-index #maincontent .dealer-list-container{
        max-width: 960px;
        margin: 0 auto;
    }
    .district-filter{
        display: inline-block;
    }
    .red-line-container{
        background:#c3161c;
        color: white;
        font-style:italic;
    }
    .red-line-container .red-line{
        margin: 0 auto;
        display: block;
        max-width: 960px;
    }
    .checkboxes-container .checkboxes #brandSelect input {
        width: 20px;
    }
    .keyword-container{
        margin: 0 auto;
        max-width: 960px;
    }

    .keyword-container input{
        float: right;
        position: relative;
        bottom: 55px;
        width: 319px;
        height: 24px;
        font-size: 12px;
    }
    .red-line-container .red-line .dealer-filter{
        width: 100%;
    }
    .red-line-container .red-line .dealer-filter .brand-filter{
        float: right;
        display: inline-block;
    }
    .red-line-container .red-line .dealer-filter .region-filter{
        display: inline-block;
    }
    .red-line-container .red-line .dealer-filter .filter-label{
        display: inline-block;
        font-weight: bold;
        padding: 0 7px;
        padding-bottom: 15px;
        padding-top: 15px;
        color: white;
    }
    .red-line-container .red-line .dealer-filter .filter-options-container{
        display: inline-block;
        padding-top: 9px;
    }
    .red-line-container .red-line .dealer-filter .filter-options-container .filter-checkboxs-list li{
        display: inline-block;
        margin-left: 12px;
    }
    .red-line-container .red-line .dealer-filter li label{

        margin-right: 5px;
    }
    .red-line-container .red-line .dealer-filter .filter-label{
        margin-right: 5px;
    }
    .red-line-container .red-line .dealer-filter .filter-label:after{
        content: '';
    }
}

@media (max-width: 768px) {
    .checkboxes-container .checkboxes tr{
        display: block;
    }
    .checkboxes-container .checkboxes tr td {
        display: block;
    }
    .region-filter{
        margin-top: 12px;
    }
    .region-filter select{
        float: right;
    }
    .brand-filter{
        margin-top: 12px;
    }
    .dealer-list{
        padding: 0;
    }
    .dealer-list .dealer-item div{
        padding: 0;
        display: block;
        width: 100%;
    }
    .dealer-tel{
        text-align: left;
    }
    .dealer-list .dealer-item{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .red-line-container .red-line .dealer-filter .brand-filter .filter-label{

    }
    .red-line-container .red-line .dealer-filter  .filter-label{
        width: 100%;
        line-height: 40px;
        color: white;
        text-align: left;
        background: #c3161c url('../images/white-arrow.png') no-repeat 95% 51%;
        border-radius: 2px;
        height: 40px;
        cursor: pointer;
        padding-left: 15px;
        box-sizing: border-box;
        font-size: 18px;
        font-weight: bold;
    }
    div.brand-filter > div.filter-options-container > select{
        width: 100%;
        text-align: center;
        color: white;
        text-align-last: left;
        background: #c3161c url('../images/white-arrow.png') no-repeat 95% 51%;
        border-radius: 2px;
        height: 40px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
    }
    .red-line-container .red-line .dealer-filter .filter-options-container .filter-checkboxs-list li{
        border-bottom: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        margin-bottom: 0;
        padding: 10px;
    }
    .red-line-container .red-line .dealer-filter .filter-options-container .filter-checkboxs-list li input{
        display: none;
    }
    .red-line-container .red-line .dealer-filter .filter-options-container .filter-checkboxs-list li label.active{
        font-weight: bold;
        color:#c3161c;
    }
    .red-line-container .red-line .dealer-filter .filter-options-container .filter-checkboxs-list li label{
        font-size:18px;
        color:#606060;
        letter-spacing:0px;
    }
}

span.multiselect-native-select{position:relative}span.multiselect-native-select select{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px -1px -1px -3px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important;left:50%;top:30px}.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px 3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}


.multiselect-native-select .btn-group.open .multiselect-container {
    display: block;
}
.multiselect-native-select .btn-group .multiselect-container {
    display: none;
}

input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:35px;
    height:30px;
    display:inline-block;
    line-height:30px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:18px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -30px;
}
label.css-label {
    background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_2e5ac342c462fb9a5023b3d13705e60b.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}