.cms-terms-conditions .heading{
    margin-top: 20px;
    font-weight: bold;
    font-size:22px;
    color:#606060;
    letter-spacing:1px;
    text-align:left;
    border-bottom: 1px solid grey;
}
#popupform-fade-wrapper{
    display: none;
    bottom: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
}
.popup-question-mark{
    position: fixed;
    bottom: 80px;
	right:0;
    cursor: pointer;
    display: none;
    z-index: 99;
}
.fixed_bottom{
    position:fixed;
    right:55px;
	bottom:-600px;
    z-index: 1000;
}
.weltpixel-quickview-catalog-product-view  .icon{
    display: none;
}
.weltpixel-quickview-catalog-product-view .fixed_bottom {
    display: none;
}
.fixed_bottom.add-after-loaded{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.fixed_bottom .icon{
    box-shadow: rgba(0, 0, 0, 0.29) 0px 0px 3px;
    position:relative;
    background:rgba(197,0,10,0.80);
    height:40px;
    box-sizing: border-box;
    padding-top: 11px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.mobile .icon{
    cursor: auto;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.fixed_bottom .icon span{
    font-family:Aileron-Black;
    font-size:14px;
    padding-left: 20px;
    color:#ffffff;
    letter-spacing:0.03px;
    text-align:left;
    vertical-align: middle;
}
.fixed_bottom .icon img{
    vertical-align: middle;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.fixed_bottom .icon .cross {
   display: none;
}
.fixed_bottom.mobile .icon .cross {
    display: inline;
}
.fixed_bottom.mobile .icon .arrow {
    display: none;
}
.fixed_bottom .form-wrapper{
    background:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.29) 0px 0px 3px;
}
.fixed_bottom .form-wrapper .thank-container{
    display: none;
    width: 300px;
    height: 250px;
}
.fixed_bottom .form-wrapper .thank-container div{
    text-align: center;
}
.fixed_bottom .form-wrapper .thank-container .top{
    padding-top: 20px;
}
.fixed_bottom .form-wrapper .thank-container .back{
    padding-top: 20px;
    color: darkred;
    text-decoration: underline;
}
.fixed_bottom .form-wrapper .thank-container .click{
    cursor: pointer;
}
.fixed_bottom .form-wrapper .popup-form{
    box-sizing: border-box;
    padding: 29px 19px;
}
.fixed_bottom .form-wrapper .popup-form .actions-toolbar .primary{
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}.fixed_bottom.mobile .form-wrapper .popup-form .actions-toolbar .primary{
    float: none;
}
.fixed_bottom .form-wrapper .popup-form .actions-toolbar .warn-text{
    float: left;
    font-family:MyriadPro-Regular;
    font-size:14px;
    color:#c3161c;
    letter-spacing:0.03px;
    text-align:left;
    margin-top: -10px;
}
.fixed_bottom.mobile .form-wrapper .popup-form .actions-toolbar .warn-text{
    display: none;
}
.fixed_bottom .form-wrapper .popup-form fieldset{
    margin: 0 0 10px;
}
.fixed_bottom.mobile .form-wrapper .popup-form fieldset .field{
    /*max-width: 250px;*/
}
.fixed_bottom .form-wrapper .popup-form fieldset .field .control{
    display: inline-block;
    vertical-align: middle;
}
.fixed_bottom .form-wrapper .popup-form fieldset .field .checkbox-wrapper .control{
    width: auto;
}
.fixed_bottom .form-wrapper .popup-form fieldset .field .control-textarea textarea{
    resize: none;
}
.fixed_bottom.mobile .form-wrapper .popup-form fieldset .field .control{
    width: 100%;
    /*display: block;*/
}
.fixed_bottom .form-wrapper .popup-form fieldset .field .checkbox-wrapper{
    display: inline-block;
    margin-right: 8px;
}
.fixed_bottom .form-wrapper .popup-form fieldset .field .checkbox-wrapper .control{
    display: inline-block;
    vertical-align: middle;
}
.fixed_bottom .form-wrapper .popup-form fieldset .field .checkbox-wrapper .control input[type="checkbox"]{
    margin: 0;
    cursor: pointer;
}
.fixed_bottom .form-wrapper .popup-form fieldset .field .checkbox-wrapper .checkbox-label{
    font-size:12px;
    color:#606060;
    letter-spacing:-0.07px;
    text-align:left;
}
.fixed_bottom.mobile .form-wrapper .popup-form fieldset .field .checkbox-wrapper .checkbox-label{
    font-size:16px;
}
.fixed_bottom.mobile .form-wrapper .popup-form fieldset .field .checkbox-wrapper .checkbox-label span{
    word-break: break-all;
}
.fixed_bottom .form-wrapper .popup-form fieldset .field .input-text{
    width: 320.5px;
    height: 19.5px;
    float: right;
}
.fixed_bottom.mobile .form-wrapper .popup-form fieldset .field .input-text{
    border-radius:2px;
    /*width:250px;*/
    height:31px;
}
.fixed_bottom .form-wrapper .popup-form fieldset .field .label {
    width: 60px;
    margin-right: 8px;
}

#popupForm
    .field.captcha.required
        .control.captcha
            #captcha_popupform{
    width: 180px;
    vertical-align: top;
    margin-top: 30px;
}

#popupForm .control .question_type{
    padding-right: 30px;
    display: inline-block;
}


#popupForm
    .field.captcha.required
        label span{
            position: relative;
            top:25px;
        }

#popupForm
    .nested{
        display: inline-block;
    }


    #errmsg {
        color: red;
    }

#popupForm .nested a {
    /*background:  url('../images/reload.png') no-repeat  30px center ;*/
    margin-bottom:40px;
    cursor: pointer;
    /*display: block;*/
    text-decoration: none;
}

#popupForm .nested .ReloadCapImage{
    text-align: center;
}

#popupForm .nested .ReloadCapImage .reloadImg{
    vertical-align: text-bottom;
    padding-right: 4px;
}

#popupForm .field.enquiry.required .input-checkbox{
    background-color: white;
}

#popupForm .field.enquiry.required label[for=question_type_id_0],label[for=question_type_id_1]{
    padding-right: 24px;
}


@media (max-width: 768px) {
    #popupForm .fieldset .field .label{
        display: block;
    }

    #popupForm .control.captcha .nested{
        margin-bottom: 15px;
    }

    #popupForm .field.captcha.required .control.captcha #captcha_popupform{
        width: 100%;
    }

    .fixed_bottom .form-wrapper .popup-form fieldset .field .input-text{
        width:100%;
        height: 19.5px;
        float: right;
    }

    .popup-question-mark{
        display: block;
    }
    .fixed_bottom{
        height: 100%;
        margin: 15px;
        right: 0;
        left: 0;
        top: 0;
        overflow-y: auto;
        display: none;
    }

    .fixed_bottom::-webkit-scrollbar { width: 0 !important }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .fixed_bottom{
        margin: 140px;
    }
    #popupForm .field.captcha.required .control.captcha #captcha_popupform{
        width:240px;
    }

    .fixed_bottom.mobile .form-wrapper .popup-form .actions-toolbar .primary {
        float: right;
    }
}


@media screen and (min-width:767px){
    #popupForm .control.captcha .nested{
        width: 190px;
        position:absolute;
        right:0;
        top:0;
        bottom: 0;
    }
    #popupForm .control.captcha{
        position:relative;
        min-height:100px;
    }
}
