#buttonContainer {
    text-align: left;
    margin-top: 50px;
}

#buttonContainer .heading{
    font-family:Aileron-Black;
    font-size:26px;
    color:#b7000c;
    text-align:left ;
    border-bottom: 1px solid #b7000c ;
}

#buttonContainer .location-btn{
    margin-top: 30px;
    border-radius:5px;
    vertical-align: middle;
    border: 1px solid gray;
    padding: 34px;
    cursor: pointer;width: 196px;
    height: 117px;
}
#buttonContainer .location-btn.active{
    border:2px solid #b7000c;
}
#buttonContainer .category-container{
    margin-bottom: 30px;
    margin-right: 18px;

    display: inline-block;
}

@media (max-width: 768px) {
    #buttonContainer .category-container {
        width: 99%;
        text-align: center;
    }
}